TPCalculatorSPL
Operations
Base
ADD
SUB
MUL
DIV
Roots
Sqrt
Root3
Potencies
P2O
P3O
AngleOps
Sin
Cos
Tan
SC
Pi
EN
SOL
SOS
GC
UI
GUI
OpKey
BaseBut
AddB
SubB
DivB
MulB
AngleBut
TanB
SinB
CosB
RootBut
Root3B
Root2B
PowerBut
Pow3B
Pow2B
BaseKeys
Numbers
Equals
Del
AC
ScKeys
PiB
EnB
SolB
SosB
GcB
Display
